/* Empty. Add your own CSS if you like */
.slider{
	height: 100%;
}

.slidepic{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#soup{
	position: relative;
	max-width: 80%;
	top: 10%;
}

#hackr{
	position:relative;
	width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
	
}

#dog{
	position:relative;
	width: 50%;
    height: 20%;
    object-fit: contain;
    overflow: hidden;
	
}

h2, h4{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

a{
	text-decoration: none;
}


.ion-compose{
	margin-left: 20%;
}